.profile-container {
    display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-content {
  /* background-color: #fff; */
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

.profile-card {
  text-align: center;
}

.profile-image img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.social-links a {
  display: flex;
  align-items: center;
  color: #000;
}

.details-card {
  width: 100%;
  margin-top: 1rem;
}

.details-card p {
  margin: 0.5rem 0;
}
